body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 150px;
}

.hlogo {
    font-size: 24px;
    color: #e5e7eb;
}

.threelinks {
    display: flex;
    gap: 25px;
}